.buttonBack___1mlaL,
.buttonFirst___2rhFr,
.buttonLast___2yuh0,
.buttonNext___2mOCa,
.buttonNext___3Lm3s,
.dot___3c3SI {
  cursor: pointer;
}
.image___xtQGH {
  display: block;
  width: 100%;
  height: 100%;
}
.spinner___27VUp {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  animation-name: spin___S3UuE;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  border: 4px solid #a9a9a9;
  border-top-color: #000;
  border-radius: 30px;
}
@keyframes spin___S3UuE {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
.container___2O72F {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.overlay___IV4qY {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  cursor: zoom-in;
  transition: opacity 0.3s, transform 0.3s;
}
.hover___MYy31,
.loading___1pvNI,
.zoom___3kqYk {
  opacity: 1;
}
.imageLoadingSpinnerContainer___3UIPD {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f4f4f4;
}
.slide___3-Nqo {
  position: relative;
  display: block;
  box-sizing: border-box;
  height: 0;
  margin: 0;
  list-style-type: none;
}
.slide___3-Nqo:focus {
  outline: none !important;
}
.slideHorizontal___1NzNV {
  float: left;
}
[dir="rtl"] .slideHorizontal___1NzNV {
  direction: rtl;
  transform: scaleX(-1);
}
.slideInner___2mfX9 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
}
.focusRing___1airF {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  pointer-events: none;
  outline-width: 5px;
  outline-style: solid;
  outline-color: Highlight;
}
@media (-webkit-min-device-pixel-ratio: 0) {
  .focusRing___1airF {
    outline-style: auto;
    outline-color: -webkit-focus-ring-color;
  }
}
.horizontalSlider___281Ls {
  position: relative;
  overflow: hidden;
}
[dir="rtl"] .horizontalSlider___281Ls {
  direction: ltr;
  transform: scaleX(-1);
}
.horizontalSliderTray___1L-0W {
  overflow: hidden;
  width: 100%;
}
.verticalSlider___34ZFD {
  position: relative;
  overflow: hidden;
}
.verticalSliderTray___267D8 {
  overflow: hidden;
}
.verticalTray___12Key {
  float: left;
}
.verticalSlideTrayWrap___2nO7o {
  overflow: hidden;
}
.sliderTray___-vHFQ {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}
.sliderAnimation___300FY {
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  will-change: transform;
}
.masterSpinnerContainer___1Z6hB {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f4f4f4;
}
.carousel {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.carousel-container {
  position: relative;
  width: 100%;
  height: 100vh;
  align-self: center;
}
.welcome-darex-holder {
  position: absolute;
  color: #00afef;
  top: 45%;
  left: 20%;
}
.welcome-text {
  font-size: 40px;
}
.darex-text {
  font-size: 90px;
}
.button-style {
  width: 60px;
  height: 60px;
  border-width: 0px;
  border-radius: 30px;
  background-color: #00afef;
  box-shadow: 0px 6px 12px rgba(0, 81, 148, 0.45);
  outline: none;
  justify-content: center;
  align-items: center;
  display: flex;
}
.dot-group {
  /* width: 14;
    height: 14;
    background-color: "#00afef";
    border-radius: 7; */
  display: flex;
  flex-direction: row;
}
.dot-style {
  width: 14;
  height: 14;
  background-color: "#00afef";
  border-radius: 7;
}

.button_container {
  position: absolute;
  top: 90%;
  width: 50%;
  display: flex;
  justify-content: space-between;
  z-index: 5;
}
.back-button {
  left: 30px;
  position: relative;
}
.next-button {
  right: 30px;
  position: relative;
}
.carousel-provider {
  width: 100%;
  height: 100vh;
  color: #fff;
  display: block;
}
.slideInner___2mfX9 {
  width: 100%;
  height: auto;
  color: #fff;
  position: relative;

  /* top: 60px; */
}
.text-positon {
  /* bottom: 50%; */
}
.dot-group {
  position: absolute;
  top: 80%;
  left: 15%;
  z-index: 5;
}
.slider-image {
  -webkit-filter: blur(10px);
  filter: opacity(75%) brightness(28%);
}
.chevron-style {
  font-size: 40px;
}
@media (max-width: 1024px) {
  .welcome-darex-holder {
    position: absolute;
    color: #00afef;
    top: 50%;
    left: 28%;
    /* top: 0%; */
  }
  .MuiIcon-root {
    font-size: 18px;
  }
  .button_container {
    position: absolute;
    top: 90%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 5;
  }
  .welcome-text {
    font-size: 25px;
  }
  .darex-text {
    font-size: 35px;
  }
  .moto-text {
    font-size: 20px;
  }
  .chevron-style {
    font-size: 8px;
  }
  .button-style {
    width: 30px;
    height: 30px;
    border-width: 0px;
    border-radius: 30px;
    background-color: #00afef;
    box-shadow: 0px 6px 12px rgba(0, 81, 148, 0.45);
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .back-button {
    left: 10px;
    position: relative;
  }
  .next-button {
    right: 10px;
    position: relative;
  }
}

/*# sourceMappingURL=react-carousel.es.css.map */
